@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;900&display=swap");

*,
body {
	margin: 0;
	padding: 0%;
	font-family: "Poppins", sans-serif;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	-moz-osx-font-smoothing: grayscale;
	/* border: 1px solid ; */
}

html,
body {
	height: 100vh;
	background-image: url(wit\ 24.jpg);
	background-position: center;
	background-size: cover;
	/* filter:; */
	overflow: hidden;
}
.form-cover {
	height: 100vh;
	width: 100%;
	background-color: rgba(84, 50, 3, 0.624);
}
form {
	border: 1px solid white;
	padding: 10px;
}
.nav {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100px;
	background-color: rgba(84, 50, 3, 0.624);
	border-radius: 0 0 10px 10px;
	border-bottom: rgba(0, 0, 0, 0.538) 1px solid;
	box-shadow: 0 0 6px 8px rgba(0, 0, 0, 0.548);
    margin-bottom: 10px;
}
.nav img {
	width: 80px;
	height: 77px;
	margin-right: 20px;
}
.nav div h1 {
	font-weight: 700;
	text-align: center;
	font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
		"Lucida Sans", Arial, sans-serif;
	color: rgba(110, 166, 234, 0.957);
}
.nav div h2 {
	margin-top: -10px;
	padding-top: 0%;
	text-align: center;
}
form {
	width: 60%;
	margin: auto;
}
label {
	color: aliceblue;
}
.form-control{
background-color: rgba(246, 255, 255, 0.46) !important;
color: antiquewhite;
}

.form-control::placeholder{
    color: rgb(117, 64, 8);
}
