/* MOBILE */

@media only screen and (max-width: 767px) {
	body {
		height: fit-content;
	
		background-size: 440%
        ;
        background-repeat: \;
	}
	form {
		/* max-width: 500px; */
		width: 300px;
	}

    .form-cover {
        height: inherit;
      
    }
  
    .nav img {
        width: 60px;
        height: 60px;
        margin-right: 10px;
    }
    .nav div h1 {
        font-weight: 600;
        text-align: center;
        font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
            "Lucida Sans", Arial, sans-serif;
        color: rgba(110, 166, 234, 0.957);
    }
    .nav div h2 {
        margin-top: -10px;
        padding-top: 0%;
        text-align: center;
    }
}

